<div class="home">
  <p>
    I am a Research Engineer at the French Alternative Energies and Atomic Energy Commission (CEA), affiliated with the
    List Institute
  </p>
  <p>
    My research focuses on <b>information extraction</b> using <b>few-shot learning</b> for <b>event extraction</b> and
    <b>domain adaptation</b>. This involves deep learning techniques in NLP, including sequence modelling, structured
    prediction, graph neural networks, and recent <b>meta-learning</b> methods such as prototypical networks and
    memory-augmented networks.
  </p>
  <p>
    My professional expertise and interests also encompass deep learning, natural language processing, computer vision,
    and <b>generative AI</b>. I am currectlly working on multimodal large models for information extraction and
    understanding.
  </p>
</div>
