<div class="home">
<h1>Welcome to my personal website</h1>

<p>
I am currently a third yeard PhD student in Computer Science at the Paris-Saclay University (France), attached to the <a href="http://www-list.cea.fr/en/">List Institute</a> of <a href="https://www.cea.fr/english">CEA</a>.
</p>
<p>
My research subject is related to <b>information extraction</b>, a domain that combines both machine learning and natural language processing, and is more particularly focused on <b>few-shot learning</b> approaches for <b>event extraction</b> and <b>domain adaptation</b>. It involves several deep learning techniques applied to NLP such as *sequence modelling*, structured prediction, graph neural networks ; and also recent <b>meta-learning</b> and few-shot learning methods as matching and <b>prototypical networks</b> or memory-augmented networks.
</p>
<p>For more details, you can read my articles bellow on these subjects.</p>
</div>