<div class="home">
<h1>Welcome to my personal website</h1>

<p>
I am currently PhD student in Computer Science at the Paris-Saclay University (France), attached to the <a href="http://www-list.cea.fr/en/">List Institute</a>
of <a href="https://www.cea.fr/english">CEA</a>. My research subject is related to information extraction, 
a domain that combines both machine learning and natural language processing, and is more particularly focused on few-shot learning approaches for event extraction and domain adaptation. It involves several deep learning techniques applied to NLP such as sequence modelling, structured prediction, graph neural networks ; and also recent meta-learning and few-shot learning methods as matching and prototypical networks or memory-augmented networks.

In natural language processing, identifying entities of interest (NER) in a sentence such as person, location, organization etc. requires labeled data. We need sentences labeled with entities of interest where the labeling of each sentence is done either manually or by some automated method (often using heuristics to create a noisy/weakly labeled data set). These labeled sentences are then used to train a model to recognize those entities as a supervised learning task.

<hr />
</p>
</div>